{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Team Py</h3>
                <p class="lead" style="font-weight: 350;"></p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:vaibhavbkalungada@gmail.com'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" height="40" width="40"></a> :
                        vaibhavbkalungada@gmail.com<br><br>
                <!-- <a target="_blank" href='manthan-bhikadiya.medium.com'><img 
                        src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                        width="44"></a> : manthan-bhikadiya<br><br>
                <a target="_blank" href='https://github.com/manthan89-py'><img
                        src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40" width="40"></a> :
                manthan89-py<br><br>-->
                <a target="_blank" href="https://www.instagram.com/vaibhav..bk.?igsh=MXZ1d2g3bXFlNDBvMQ=="><img src="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Instagram-256.png" height="40" width="40"></a> :
                vaibhavbk<br><br>
                <a target="_blank"href="https://www.linkedin.com/in/vaibhav-kalungada-844790223?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-256.png" height="40" width="40"></a>:
                Vaibhav-kalungada
            </div>
        </div>
    </div>

    
        </div>
    </div>
</div>

{% endblock body %}
